*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
    font-family:sans-serif;
}
main{
    margin: 10px;
    border-style: hidden;
}

   
body {
    padding-top: 4rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
    background-color: bisque;
  }
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  
  .marketing h2 {
    font-weight: 400;
  }
  
  .marketing .col-lg-4 p {
    margin-right: .50rem;
    margin-left: .50rem;
  }
    
  .featurette-divider {
    margin-left: 20rem; 
  }
  
  .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  }
  
  .featurette-heading {
    font-size: 50px;
  }

@media (min-width: 62em) {
  .featurette-heading {
    margin-top: 7rem;
   
  }
} 